.button {
    background: var(--color-tertiary);
    color: var(--color-primary);
    padding: 0.8rem 1.5rem;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 50px;
    width: 15rem;
    height: 3.5rem;
}

.button:hover {
    background: #444;
}