footer {
    padding: 20px;
    text-align: start;
    font-size: 14px;
    color: var(--color-secondary);
    border-top: 1px solid var(--color-sixth);
}


.footer_titles {
    display: flex;
    justify-content:flex-start; 
    gap: 35rem;
    margin: 1.25rem;
    text-transform: uppercase;
    color: var(--color-fifth);
    font-weight: 400;
    font-size: 1rem;
}

.footer_content {
    display: flex;
    justify-content:flex-start; 
    gap: 27.5rem;
}

.footer_container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 2rem 0 5rem 1.2rem;
}

.footer_container2 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 2rem 0 5rem 1.2rem;
}

.footer_container3 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 2rem 0 0rem 3.5rem;
}

.instagram_icon {
    width: 2rem;
    height: 2rem;
}

.email_icon {
    width: 2rem;
    height: 2rem;
}