.hero {
  position: relative;
  margin: 2rem 0 5rem 0;
}

.hero img {
  width: 110rem;
  height: 50rem;
  object-fit: cover;
  display: flex;
  margin: 0 auto ;
  border-radius: 15px;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--color-Fourth);
}

.overlay h2 {
  font-size: 5rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.overlay .heroText {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}
