.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: var(--color-Fourth);
}

.hero img {
  width: 90%;
  height: 80%;
  object-fit: cover;
  display: flex;
  margin: 0 auto;
  border-radius: 15px;
}

.overlay {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--color-Fourth);
}

.overlay h2 {
  font-size: 5rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.overlay .heroText {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
}
