.Navbar_container {
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    padding: 1rem 2rem;
    z-index: 100;
}

.Navbar_list {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.Navbar_item {
    font-family: var(--font-main);
    font-size: 1rem;
    font-weight: 500;
}