
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables globales */
:root {
  --color-primary: #111;
  --color-secondary: #555;
  --color-tertiary: #EABB2E;
  --color-Fourth: #FFFFFF;
  --color-fifth : #9CA3AF;
  --color-sixth : #E5E3DC;
  --font-main: "Montserrat",  sans-serif;
}

/* Estilos base */
html, body {
  font-family: var(--font-main);
  background-color: var(--color-Fourth);
  color: var(--color-primary);
  line-height: 1.1;
}

/* Links */
a {
  text-decoration: none;
  color: var(--color-secondary);
}
a:hover {
  color: var(--color-tertiary);
}
