---
import Navbar from "../shared/Navbar.astro"
import styles from "../styles/Header.module.css"
import logo from "../assets/Logo-header.webp"

---

<header class={styles.Header_container}>
    <div class={styles.Header_main_container}>
        <a href="/Proyecto-Billeteras/" class="header-logo">
        <img 
        src={logo.src} 
        alt="logo"
        loading="eager"
        fetchpriority="high"
        decoding="async"
        class={styles.logo_image}
        >
        </a>

        <div>
        <Navbar />
        </div>

        <div>
            <a href="">
                <img 
                src="" 
                alt="carrito"
                loading="eager"
                fetchpriority="high"
                decoding="async"
                >
            </a>
        </div>
    </div>
</header>



