---
import Navbar from "../shared/Navbar.astro"
import styles from "../styles/Header.module.css"

---

<header class={styles.Header_container}>
    <div class={styles.Header_main_container}>
        <a href="/" class="header-logo">
        <img 
        src="" 
        alt="logo"
        loading="eager"
        fetchpriority="high"
        decoding="async"
        >
        </a>

        <div>
        <Navbar />
        </div>

        <div>
            <a href="">
                <img 
                src="" 
                alt="carrito"
                loading="eager"
                fetchpriority="high"
                decoding="async"
                >
            </a>
        </div>
    </div>
</header>



