---
import Billeteras from '../assets/images/billetera.png';
---

<section>
    <img
        src={Billeteras.src}
        width={1900}
        height={900}
        alt="Logo Americana Academy"
    alt="Billeteras"/>
    <div class="overlay">
    <h2>Minimalist Wallet</h2>
    <button>Comprar ahora</button>
    </div>
</section>